### docker/app ###
APP_NAME="tasker_api"
APP_PORT=3030
### docker/app ###

### docker/database ###
DB_HOST="tasker-db"
DB_DATABASE="tasker"
DB_PORT=5432
DB_USER="dbuser"
DB_PASS="your-secure-pw"
DB_ROOT_PASS="your-super-secure-pw"
DB_TIMEZONE="Europe/Vienna"
DB_SSL_MODE="disable"
### docker/database ###

### app/gorm ###
CONNECTION_STRING="host=${DB_HOST} user=${DB_USER} password=${DB_PASS} dbname=${DB_DATABASE} port=${DB_PORT} sslmode=${DB_SSL_MODE} TimeZone=${DB_TIMEZONE}"
### app/gorm ###
